
body{
    background: linear-gradient(to bottom, #1a5f00, #148121,  #4fca5a );
    margin: auto;
    width: 180vh; height: 150vh; 
    display: flex;
    justify-content: center; 
    align-items: center; 
    text-align:center;
    align-items: center;
}

.imagentec{
    width: 300px;
    margin-top: -550px;
    margin-right: 820px;
    position: absolute;
}

.imagenmec{
    width: 330px;
    margin-top: -550px;
    margin-left: 790px;
    position: absolute;
}

.Titulo{
    font-family: 'Times New Roman', Times, serif;
    font-size:xx-large;
    color: #ffffff;
    background-color:#004e06;
    border-radius: 70%;
}

.Subtitulo{
    font-family: 'Times New Roman', Times, serif;
    font-size:x-large;
    color: #fefefe;
}

.Accion{
    font-family: 'Times New Roman', Times, serif;
    font-size:x-large;
    color: #fefefe;
}

.Seleccion{
    font-family: 'Times New Roman';
    font-weight: bold;
    font-size: xx-large;
    color: black;
    margin-left: 200px;
    margin-bottom: 70px;
    display: block;
    height: 30px;
    width: 300px;
    margin-left: 150px;
    position: relative;
}

.CSelect{
    font-family: 'Times New Roman', Times, serif;
    font-weight: bold;
    font-size: large;
    color: black;
    border-color: black;
    border-width: 7px;
    width: 90px;
    height: 50px;
    background-color: #ffffff;
    margin-left: 15px;
}

.Abrir{
    font-family: 'Times New Roman', Times, serif;
    font-weight: bold;
    font-size: large;
    color: black;
}

.Cerrar{
    font-family: 'Times New Roman', Times, serif;
    font-weight: bold;
    font-size: large;
    color: black;
}

.ComVerde{
    background-color:rgb(0, 255, 0); 
    border-color:darkgreen; 
    border-width: 7px;
    font-family: 'Times New Roman';
    font-size: medium;
    font-weight: bold;
    width:120px; 
    height:70px;
    align-items: center;
    border-radius: 10px;
}

.ComAzul{
    background-color:rgb(0, 191, 255); 
    border-color:darkblue;
    border-width: 7px;
    font-family: 'Times New Roman';
    font-size: medium;
    font-weight: bold;
    width:120px; 
    height:70px;
    align-items: center;
    border-radius: 10px;
}

.ComRojo{
    background-color:red; 
    border-color:darkred; 
    border-width: 7px;
    font-family: 'Times New Roman';
    font-size: medium;
    font-weight: bold;
    width:120px; 
    height:70px;
    align-items: center;
    border-radius: 10px;
}

.ComAmarillo{
    background-color:yellow; 
    border-color:rgb(118, 124, 0); 
    border-width: 7px;
    font-family: 'Times New Roman';
    font-size: medium;
    font-weight: bold;
    width:120px; 
    height:70px;
    align-items: center;
    border-radius: 10px;
}

.Info{
    font-family: 'Times New Roman';
    font-weight: bold;
    font-size: x-large;
    color: rgb(255, 255, 255);
    margin-left: 190px;
    margin-bottom: 50px;
    display: block;
    height: 40px;
    width: 200px;
    margin-bottom: 10px;
    margin-top: 20px;
}

.Verde{
    background-color:rgb(0, 255, 0); 
    border-color:darkgreen; 
    border-width: 7px;
    font-family: 'Times New Roman';
    font-size: medium;
    font-weight: bold;
    width:140px; 
    height:70px;
    align-items: center;
    margin-bottom: 200px;
    border-radius: 20px;
}

.Azul{
    background-color:rgb(0, 191, 255); 
    border-color:darkblue;
    border-width: 7px;
    font-family: 'Times New Roman';
    font-size: medium;
    font-weight: bold;
    width:140px; 
    height:70px;
    align-items: center;
    margin-bottom: 200px;
    border-radius: 20px;
}

.Rojo{
    background-color:red; 
    border-color:darkred; 
    border-width: 7px;
    font-family: 'Times New Roman';
    font-size: medium;
    font-weight: bold;
    width:140px; 
    height:70px;
    align-items: center;
    margin-bottom: 200px;
    border-radius: 20px;
}

.Amarillo{
    background-color:yellow; 
    border-color:rgb(118, 124, 0); 
    border-width: 7px;
    font-family: 'Times New Roman';
    font-size: medium;
    font-weight: bold;
    width:140px; 
    height:70px;
    align-items: center;
    margin-bottom: 200px;
    border-radius: 20px;
}

.ventanaverde{
    background-color:rgba(0, 255, 51, 0.9);
    width: 60%;
    height:fit-content;
    color: black;
    font-family: 'Times New Roman', Times, serif;
    font-size: 24px;
    text-align: center;
    text-justify: auto;
    padding: 15px;
    min-height: 250px;
    border-radius: 20px;
    position: absolute;
    left: 18%;
    top: 15%;
    display: none;
}

#cerrarverde{
    position: absolute;
    height: 50%;
    width: 50%;
    left: 70%;
    top: 2%;
}

.textoaves{
    font-family: 'Times New Roman', Times, serif;
    font-size: medium;
    color: black;
    text-align: justify;
    background-color: rgba(13, 124, 2, 0.4);
    border-radius: 5%;
    padding: 10px;
}

.fotoaves{
    height: 300px;
    width: 300px;
    position: relative;
    align-items: center;
    background-color: rgba(10, 110, 1, 0.4);
    border-radius: 20%;
}

.ventanaazul{
    background-color:rgba(0, 174, 255, 0.9);
    width: 60%;
    height:fit-content;
    color: black;
    font-family: 'Times New Roman', Times, serif;
    font-size: 24px;
    text-align: center;
    text-justify: auto;
    padding: 15px;
    min-height: 250px;
    border-radius: 20px;
    position: absolute;
    left: 18%;
    top: 15%;
    display: none;
}

#cerrarazul{
    position: absolute;
    height: 50%;
    width: 50%;
    left: 70%;
    top: 2%;
}

.textoardillas{
    font-family: 'Times New Roman', Times, serif;
    font-size: medium;
    color: black;
    text-align: justify;
    background-color: rgba(2, 20, 124, 0.4);
    border-radius: 5%;
    padding: 10px;
}

.fotoardillas{
    height: 350px;
    width: 350px;
    position: relative;
    align-items: center;
    background-color: rgba(2, 20, 124, 0.4);
    border-radius: 20%;
}

.ventanaroja{
    background-color:rgba(255, 8, 0, 0.9);
    width: 60%;
    height:fit-content;
    color: black;
    font-family: 'Times New Roman', Times, serif;
    font-size: 24px;
    text-align: center;
    text-justify: auto;
    padding: 15px;
    min-height: 250px;
    border-radius: 20px;
    position: absolute;
    left: 18%;
    top: 15%;
    display: none;
}

#cerrarrojo{
    position: absolute;
    height: 50%;
    width: 50%;
    left: 70%;
    top: 2%;
}

.textoperros{
    font-family: 'Times New Roman', Times, serif;
    font-size: medium;
    color: black;
    text-align: justify;
    background-color: rgba(124, 2, 2, 0.4);
    border-radius: 5%;
    padding: 10px;
}

.fotoperros{
    height: 350px;
    width: 350px;
    position: relative;
    align-items: center;
    background-color: rgba(124, 2, 2, 0.4);
    border-radius: 20%;
}

.ventanaamarilla{
    background-color:rgba(238, 255, 0, 0.9);
    width: 60%;
    height:fit-content;
    color: black;
    font-family: 'Times New Roman', Times, serif;
    font-size: 24px;
    text-align: center;
    text-justify: auto;
    padding: 15px;
    min-height: 250px;
    border-radius: 20px;
    position: absolute;
    left: 18%;
    top: 15%;
    display: none;
}

#cerraramarillo{
    position: absolute;
    height: 50%;
    width: 50%;
    left: 70%;
    top: 2%;
}

.textotlacuaches{
    font-family: 'Times New Roman', Times, serif;
    font-size: medium;
    color: black;
    text-align: justify;
    background-color: rgba(118, 124, 2, 0.4);
    border-radius: 5%;
    padding: 10px;
}

.fototlacuaches{
    height: 350px;
    width: 350px;
    position: relative;
    align-items: center;
    background-color: rgba(124, 2, 2, 0.4);
    border-radius: 20%;
}

.Consultas{
    align-items: center;
    text-align: center;
    margin-top: 500px;
    position: absolute;
    font-family: 'Times New Roman', Times, serif;
    font-size: medium;
    background-color: #ffffff6e;
    border-radius: 10px;
    width: 600px;
    height: 140px;

}

.Titcomv{
    font-weight: bold;
}
.Titcoma{
    font-weight: bold;
}
.Titcomr{
    font-weight: bold;
}
.Titcomam{
    font-weight: bold;
}
